.button {
    composes: base from "./button";
    cursor: pointer;
    border: 2px solid lightskyblue;
    width: 400px;
}

.button:hover {
    background-color: pink;
}

.button:active {
    background-color: red;
}

.disabled {
    composes: disabled from "./button";
}
